page-home {
	ion-card-header{
		h6{
			margin-top:10px !important;
		}

		color: #ababab !important;
	}

	ion-col{
		h4{
			display: block;
			margin-bottom: 10px;
			min-height: 18px;
		}

	}
	.search{
		font-size: medium;
	}
	small{
		font-size: 80%;
	}
}
