<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Hipnotec</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-row>
		<ion-col col-12>
			<ion-item text-wrap>
				<p>Busque em seus registros pelo script desejado, ou navegue por nossas categorias.</p>
				<ion-searchbar (ionCancel)="cleanSearch()" placeholder="Buscar" animated='true' (ionInput)="triggerSearch($event)"></ion-searchbar>
			</ion-item>
		</ion-col>

		<ion-col *ngIf="searchResult != undefined" col-s12>
			<h4 (click)="showAllResults()" *ngIf="searchCategories.length > 0" class="search">Resultados encontrados</h4> 
			<ion-item *ngFor="let category of searchCategories">
				<h3><span *ngIf="searchResult[category].length > 4">Exbindo 4 de</span> {{searchResult[category].length}} resultados em {{category}}</h3>
				<ion-card (click)="openScript(script.Id)" *ngFor="let script of searchResult[category] | slice:0:4;">
					<ion-card-header>
						{{script.Title}}
					</ion-card-header>
					<ion-card-content text-wrap>
						{{script.Abstract}}
					</ion-card-content>
				</ion-card>
			</ion-item>

		</ion-col>
	</ion-row>

	<ion-item *ngIf="recent.length>0">
		<span text-left>Scripts recentes</span>
		<span (click)="cleanRecents()" float-right> <ion-icon name="close"></ion-icon></span>
		<ion-card (click)="openScript(script.Id)" *ngFor="let script of recent">
			<ion-card-header>
				{{script.Category}}
				<br>
				<h6>{{script.Title}}</h6>
			</ion-card-header>
			<ion-card-content text-wrap>
				<small>{{script.Abstract}}</small>
			</ion-card-content>
		</ion-card>
	</ion-item>
	<!-- 
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p> -->


</ion-content>