<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Resultados da busca por "{{query}}"</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-row>
		<ion-col col-12>
			<ion-item text-wrap>
				<ion-searchbar [(ngModel)]="query" (ionCancel)="cleanSearch()" placeholder="Buscar" animated='true' (ionInput)="triggerSearch($event)"></ion-searchbar>
			</ion-item>
		</ion-col>

		<ion-col *ngIf="searchResult != undefined" col-s12>
			<h4 *ngIf="searchCategories.length == 0" class="search">Nenhum resultado encontrado</h4>
			<ion-item *ngFor="let category of searchCategories">
				<h3>{{searchResult[category].length}} resultados em {{category}}</h3>
				<ion-card (click)="openScript(script.Id)" *ngFor="let script of searchResult[category] | slice:0:4;">
					<ion-card-header>
						{{script.Title}}
					</ion-card-header>
					<ion-card-content text-wrap>
						{{script.Abstract}}
					</ion-card-content>
				</ion-card>
			</ion-item>
		</ion-col>
	</ion-row>
</ion-content>